body{
	background-color: black;
	color: white;
}

h1{
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-left-style: solid;
	border-left-width: 10px;
}
p{
	padding: 5px;
	/* the distence between the text and the border */
	border-style: solid;
	border-style: dashed;
	border-style: dotted;
	border-style: double;
	border-style: ridge;
	border-style: groove;
	border-style: inset;
	border-style: outset;
	border-style: outset;

	border-width: 5px;
	border-color: green;
	border-radius: 5px;
}
